torch
requests
duckduckgo-search
transformers
pytorch-lightning
qdrant-client
pyperclip
markdown2
torchaudio
pyglet
sounddevice
pypdf
PyQt5
pydub
pygments
qdarkstyle
PyQtWebEngine
tiktoken
openai
box
bitsandbytes
accelerate